{
    attributes = (
        {columnName = creationDate; name = creationDate; prototypeName = dateTime; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = N; 
            columnName = inMailingID; 
            name = inMailingID; 
            prototypeName = id; 
        }, 
        {columnName = language; name = language; prototypeName = varchar10; }, 
        {columnName = mailBody; name = mailBody; prototypeName = varcharLarge; }, 
        {
            columnName = modificationDate; 
            name = modificationDate; 
            prototypeName = dateTime; 
        }, 
        {columnName = subject; name = subject; prototypeName = varchar255; }
    ); 
    attributesUsedForLocking = (id, inMailingID); 
    className = "com.insigno.inmailmanager.model.INLocalizedMailing"; 
    classProperties = (creationDate, language, mailBody, mailing, modificationDate, subject); 
    externalName = INLocalizedMailing; 
    fetchSpecificationDictionary = {}; 
    name = INLocalizedMailing; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = INMailing; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = inMailingID; }); 
            name = mailing; 
        }
    ); 
}
