{
    attributes = (
        {columnName = creationDate; name = creationDate; prototypeName = dateTime; }, 
        {allowsNull = N; name = id; prototypeName = id; }, 
        {
            allowsNull = Y; 
            columnName = mailingDescription; 
            name = mailingDescription; 
            prototypeName = varchar255; 
        }, 
        {
            columnName = modificationDate; 
            name = modificationDate; 
            prototypeName = dateTime; 
        }, 
        {
            allowsNull = Y; 
            columnName = ownerEntityName; 
            name = ownerEntityName; 
            prototypeName = varchar255; 
        }, 
        {
            allowsNull = Y; 
            columnName = ownerPrimaryKey; 
            name = ownerPrimaryKey; 
            prototypeName = intNumber; 
        }, 
        {columnName = title; name = title; prototypeName = varchar255; }
    ); 
    attributesUsedForLocking = (id); 
    className = "com.insigno.inmailmanager.model.INMailing"; 
    classProperties = (
        creationDate, 
        localizedMailings, 
        mailingDescription, 
        modificationDate, 
        ownerEntityName, 
        ownerPrimaryKey, 
        title
    ); 
    externalName = INMailing; 
    fetchSpecificationDictionary = {}; 
    name = INMailing; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = INLocalizedMailing; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = inMailingID; sourceAttribute = id; }); 
            name = localizedMailings; 
        }
    ); 
}
