<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title></title>
	<wo:string value = "$styleSheet" escapeHTML = "false" />
</head>
<body style="$bodyStyle">
	<div>
		<table border="0" align="center" width="740" cellpadding="0" cellspacing="0">
			<tr>
				<td><wo:image src="$topImage" alt="" /></td>
			</tr>
			<tr>
				<td><wo:image src="$splashImage" alt="" /></td>
			</tr>
			<tr>
				<td>
					<table width="740" border="0" cellpadding="0" cellspacing="0" style="$letterStyle">
						<tr>
							<td width="72">&nbsp;</td>
							<td>
								<div><wo:string value = "$htmlContent" escapeHTML = "false" /></div>
								<p>&nbsp;</p>
							</td>
							<td width="72">&nbsp;</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td><wo:image src="$bottomImage" alt="" /></td>
			</tr>
			<tr>
				<td><p class="bottom">...</p></td>
			</tr>
		</table>
	</div>
</body>
</html>